body {
    background-image: url(images/headphones_hero_1.jpg);
    background-size: cover; /* Makes the image cover the entire element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
padding: 20px;
animation: slideIn 2s ease-out; /* Apply the animation */
}
header{
    display: flex;
    margin-bottom: 100px;animation: fadeIn 3s ease-in;
   
}

 .logo {
    font-size: 10px;
 }
 
 a:hover{
    color: #FF6565;
       display: inline-block;
   justify-content: right;
   margin-right: 10px;
   text-decoration: none;
   
 }
h1{
    text-align: center;
    font-size: 40px;
    text-decoration: beige;
}
    p{
        text-align: center;
        color: beige;
    }

   button{
    display: block; /* Treat button as a block-level element */
            margin: 0 auto; /* Center horizontally */
            margin-top: 15px;
            background-color: #FF6565;
            border: none;
            color: beige;
            font-size: 20px;
            border-radius: 20px;
            margin-top: 5%;
            margin-bottom: 5%;

   }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    

